{
  // OPC UA settings
  // https://timebase.flow-software.com/en/knowledge-base/opcua-collector

  "settings": {
    // Connection
    "Url": "opc.tcp://<HostnameOrIPAddress>:<Port>",
    //"SessionTimeout": 60000, // ms
    //"KeepAlivePeriod": 10000, // ms
    //"ReconnectPeriodMaximum": 15000, // ms
    //"BrowseInterval": 30, // minutes

    // Authentication
    //"Username": "<UsernameGoesHere>",
    //"Password": "<PasswordGoesHere>",

    // Security
    //"SecurityPolicy": "None",
    //"SecurityMode": "None",

    // Certificate Management
    //"ApplicationSubjectName": "CN=Timebase Historian, DC=timebase, DC=com",
    //"ApplicationStorePath": "%CommonApplicationData%\\OPC Foundation\\CertificateStores\\MachineDefault",
    //"TrustedIssuerStorePath": "%CommonApplicationData%\\OPC Foundation\\CertificateStores\\UA Certificate Authorities",
    //"TrustedPeerStorePath": "%CommonApplicationData%\\OPC Foundation\\CertificateStores\\UA Applications",
    //"RejectedStorePath": "%CommonApplicationData%\\OPC Foundation\\CertificateStores\\RejectedCertificates",
    //"AutoAcceptUntrusted": true,

    // Subscription groups
    "Subscriptions": [
      {
        "Interval": 1000, // ms
        "TopicDefinition": "namespace.channel.group1.group2.machine",
        "Topics": [
          "Timebase Load Test.PLC 01.000000.#"
        ],
        "Filter": "", // Case-sensitive exclusion filter (regex)
        "TagnamePrefix": "", 
        "Fields": {
          "Site": "Southlake",
          "Site Code": "SL",
          "Area": "Filling",
          "Group": "[Topic:group1]"
        },
      }
    ]
  }
}