{
  // MQTT settings
  // https://timebase.flow-software.com/en/knowledge-base/mqtt-collector

  "settings": {
    // Connection
    "Host": "broker.hivemq.com",
    "Port": 8883,
    "UseTls": false,
    //"ClientId": "<OptionalClientId",

    // Authentication
    //"Username": "<UsernameGoesHere>",
    //"Password": "<PasswordGoesHere>",

    // Subscription groups
    "Subscriptions": [
      {
        "Type": 1, // Payload on topics is a simple primitive (numbers or strings)
        "QoS": 2,
        "Topics": [
          "type1/#",
          "type/1/#",
          "type/+/temperature"
        ],
        "Filter": "", // Case-sensitive exclusion filter (regex)
        "Fields": {
          "Site": "Southlake",
          "Site Code": "SL",
          "Area": "Filling"
        }
      },
      {
        "Type": 2, // Payload on topics is simple Json
        "TagnameIncludesTopic": false,
        "TagnameDelimiter": ".",
        "TagnameFields": [ "sn" ],
        "TimestampFields": [ "payload.timestamp" ],
        "TimestampType": 3,
        "QoS": 2,
        "Topics": [
          "type2/#",
          "type/2/#"
        ],
        "Filter": "", // Case-sensitive exclusion filter (regex)
        "Fields": {
          "Site": "Southlake",
          "Site Code": "SL",
          "Area": "Filling"
        }
      },
      {
        "Type": 3, // Payload on topics is structured Json
        "TagnameIncludesTopic": false,
        "TagnameDelimiter": ".",
        "TagnameFields": [ "topic.groupId", "topic.edgeNodeId", "topic.deviceId", "name" ],
        "TimestampFields": [ "payload.timestamp", "timestamp" ],
        "UOMFields": [ "uom" ],
        "TimestampType": 2,
        "ValueField": "value",
        "QualityField": "properties.Quality.value",
        "QoS": 2,
        "TopicDefinition": "company/site/_/sensor",
        "Topics": [
          "type3/#",
          "type/3/#"
        ],
        "Filter": "", // Case-sensitive exclusion filter (regex)
         "Fields": {
           "CollectorName": "Kepware MQTT Collector",
           "Company": "[Topic:company]",
           "Site": "[Topic:site]",
           "DeviceLocation": "[Payload:location]",
           "StaticInfo": "Offline"
         }
      }
    ]
  }
}