{
  "Historians": {
    "Local": {
      "Name": "Local",
      "Host": "timebase-historian",
      "Port": 4511,
      "UseTls": false,
      "Auth": {
        "Enabled": false,
        "IdP": {
          "Host": "localhost",
          "Port": 4542,
          "UseTls": true
        },
        "ClientId": "",
        "ClientSecret": ""
      }
    }
  }
}